<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Vinheria</display-name>

    <listener>
        <listener-class>br.com.fiap.vinheria.db.DatabaseListener</listener-class>
    </listener>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>br.com.fiap.vinheria.web.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CartCountFilter</filter-name>
        <filter-class>br.com.fiap.vinheria.web.CartCountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CartCountFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Jasper lê o código-fonte dos JSP como UTF-8 (acentos, cedilha, etc.) -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.jspf</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>WineListServlet</servlet-name>
        <servlet-class>br.com.fiap.vinheria.servlet.WineListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WineListServlet</servlet-name>
        <url-pattern>/vinhos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WineDetailServlet</servlet-name>
        <servlet-class>br.com.fiap.vinheria.servlet.WineDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WineDetailServlet</servlet-name>
        <url-pattern>/vinho</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.com.fiap.vinheria.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.com.fiap.vinheria.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>br.com.fiap.vinheria.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/cadastro</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>br.com.fiap.vinheria.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/carrinho</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>br.com.fiap.vinheria.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
</web-app>
